@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
	position: relative; /* Ensure ::after is positioned relative to .content */
	min-width: 750px;
	width: 65vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(44, 36, 28);
	border-left: 5px solid #4b4b4b;
	border-right: 5px solid #4b4b4b;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.content::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('./assets/scroll-vertical.png'); /* Adjust this path if necessary */
	background-size: cover;
	background-repeat: round;
	z-index: 0;
	opacity: 0.85;
}

@media (max-width: 750px) {
	body {
		background-image: none;
	}
	.content {
		border: none;
	}
	.content::after {
		display: none;
	}
}

.content * {
	z-index: 1;
}

/* Loading */

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #222;
	font-size: 2rem;
}

/*.Search-bar Bar */

.search-bar {
	position: relative;
	top: 95px;
	width: clamp(320px, 50%, 640px);
	display: flex;
	margin: 25px auto;
}

.search-bar input {
	@apply rounded-s-md w-full bg-slate-100 text-gray-950;
}

.search-bar button {
	@apply bg-bgPrimary rounded-e-md;
}

.search-bar button:hover {
	@apply opacity-75;
}

.search-bar input,
.search-bar button {
	height: 36px;
	padding: 0 10px;
}

/*.Search-bar Results */

.search-results {
	position: relative;
	top: 95px;
	display: flex;
	flex-direction: column;
	width: 75%;
	height: clamp(200px, 55%, 400px);
	overflow-y: auto;
	padding: 0 10px;
}

.result {
	display: flex;
	gap: 20px;
	margin: 15px 20px;
	color: #222;
	font-weight: 500;
	padding: 10px;
}

.result:hover {
	@apply text-orange-300 bg-bgSecondary cursor-pointer;
}

.result img {
	width: 50px;
	height: 50px;
}

/* Item Details */

.item-details {
	/* position: relative; */
	padding: 25px 35px;
}
.item-title {
	font-size: 1.5rem;
	font-weight: 600;
	@apply text-orange-900;
}
.item-description {
	font-size: 1.1rem;
	font-weight: 600;
	margin: 10px 0 0 15px;
	font-style: italic;
	@apply text-gray-700;
}
.item-details img {
	width: 75px;
}

/* Item Table */

.item-table {
	width: 100%;
	border-collapse: collapse;
	margin: 50px 0;
	font-size: 1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.item-table thead tr {
	background-color: #4b382a;
	color: #ffd700;
	text-align: left;
}

.item-table th,
.item-table td {
	padding: 12px 15px;
	border: 1px solid #6e4a35;
}

.item-table tbody tr {
	border-bottom: 1px solid #6e4a35;
}

.item-table tbody tr:nth-of-type(even) {
	background-color: #3b2e26;
}

.item-table tbody tr:nth-of-type(odd) {
	background-color: #2e241d;
}

.item-table tbody tr:last-of-type {
	border-bottom: 2px solid #4b382a;
}

/* Trend-specific styles */

.trend-neutral {
	color: azure;
}

.trend-positive {
	color: #00a676;
}

.trend-negative {
	color: #d9534f;
}
